<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boxicons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- My CSS -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- <link rel="stylesheet" href="box.css"> -->

    <title>Add Prescription</title>
  </head>
  <body>
    <!-- Loader -->
    <div class="loader">
      <div class="loader-inner">
        <div class="loader-line-wrap">
          <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
          <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
          <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
          <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
          <div class="loader-line"></div>
        </div>
      </div>
    </div>
    <!-- End loader -->
    <!-- Edit form -->
    <div class="main-edit-form" id="edit">
      <div class="edit-form">
        <i onclick="closeform()" class="fa-solid fa-xmark"></i>
        <form id="form_3">
          <h1>Edit form</h1>
          <label>New Username:</label>
          <div>
            <i class="fa-solid fa-user"></i>
            <input
              id="E-Username"
              type="text"
              placeholder="Old-User-Name"
            /><br />
            <span></span>
          </div>
          <label>NEW PHONE NUMBER:</label>
          <div>
            <i class="fa-solid fa-phone"></i>
            <input
              id="E-Phonenumber"
              type="text"
              placeholder="Old-Phone-Number"
            /><br />
            <span></span>
          </div>
          <label>New E-mail:</label>
          <div>
            <i class="fa-solid fa-envelope"></i>
            <input id="E-Email" type="text" placeholder="Old-Email" /><br />
            <span></span>
          </div>
          <label>New Password:</label>
          <div>
            <i class="fa-solid fa-lock"></i>
            <input
              id="E-Password"
              placeholder="Enter Your New Password"
              type="password"
            /><br />
            <span></span>
          </div>

          <button type="submit" action="/">Submit</button>
        </form>
      </div>
    </div>

    <!-- End of Edit form -->
    <!-- SIDEBAR -->
    <section id="sidebar">
      <a href="#" class="brand">
        <i class="bx bxs-user-circle"></i>
        <span class="text">Doc_Name</span>
      </a>
      <ul class="side-menu top">
        <li class="active">
          <a href="#">
            <i class="bx bxs-home-heart"></i>
            <span class="text">Home</span>
          </a>
        </li>
        <li>
          <a href="Doctor.html">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Profile</span>
          </a>
        </li>
        <li>
          <a href="Appointments.html">
            <i
              class="fa-solid fa-calendar-check"
              style="margin-left: 15px; margin-right: 10px"
            ></i>
            <span class="text">Appointments</span>
          </a>
        </li>
        <li>
          <a href="#" onclick="editform()">
            <i class="bx bxs-pencil"></i>
            <span class="text">Edit profile</span>
          </a>
        </li>

        <li>
          <a href="#" class="logout">
            <i class="bx bxs-log-out-circle"></i>
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <nav>
        <i class="bx bx-menu"></i>
        <a href="#" class="nav-link">MedCare</a>
        <form action="#">
          <div class="form-input">
            <button type="submit" class="search-btn">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>
        <input type="checkbox" id="switch-mode" hidden />
        <label for="switch-mode" class="switch-mode"></label>

        <a href="#" class="profile">
          <img src="../static/images/people.png" />
        </a>
      </nav>
      <!-- NAVBAR -->
      <!-------------------------------------- Template end ---------------------------->
      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left"></div>
        </div>
        <div class="table-data">
          <div class="order">
            <div>
              <div id="container">
                <div id="body_header">
                  <h1 id="he">Add Prescription</h1>
                </div>

                <div class="form_1">
                  <form
                    action=""
                    method="POST"
                    id="contact_id"
                    class="input-group-register"
                  >
                    <fieldset>
                      <legend>
                        <span class="number">1</span>Patient Information
                      </legend>
                      <br />
                      <p>Diagnoses</p>
                      <br />
                      <div>
                        <textarea
                          id="textarea_1"
                          name="comment"
                          rows="5"
                          cols="100"
                        ></textarea>
                        <br /><span></span>
                      </div>

                      <br />
                      <p>Medicine</p>
                      <br />
                      <div>
                        <textarea
                          id="textarea"
                          name="comment"
                          rows="5"
                          cols="100"
                        ></textarea>
                        <br /><span></span>
                      </div>

                      <br />
                    </fieldset>

                    <fieldset>
                      <legend>
                        <span class="number">2</span>Write Prescription
                      </legend>
                      <br />

                      <div>
                        <textarea
                          id="Message"
                          class="message"
                          rows="15"
                          cols="50"
                          name="Message"
                        >
                        </textarea>
                        <br /><span></span>
                      </div>
                    </fieldset>

                    <button type="submit" class="btn" id="btn2">Send</button>
                  </form>
                  <a href="Patients.html" class="btn btn3" id="hh"> ❮ Back </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <script src="../static/js/script.js"></script>
  </body>
</html>
