<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- My CSS -->
	<link rel="stylesheet" href="../static/css/admin.css">


	<title>AdminHub</title>
</head>
<body>
	<div class="main-edit-form" id="edit">
     
		<div class="edit-form" >
		
		  <i onclick="closeform()" class="fas fa-solid fa fa-xmark"></i>
		  <form>
			<h1>Edit form</h1>
			<label>New E-mail:</label>
			<div>
			  <i class="fa-solid fa-envelope"></i>
			<input type="email" placeholder="Old-Email">
			</div>
			<label>New Password:</label>
			<div>
			  <i class="fa-solid fa-lock"></i>
			<input placeholder="Enter Your New Password" type="password">
			</div>
			<label>New Position:</label>
			<div>
			  <i class="fa-solid fa-user-doctor"></i>
			<input type="text" placeholder="Old-Position">
			</div>
			<label>New Salary:</label>
			<div>
			  <i class="fa-solid fa-dollar-sign"></i>
			<input type="text" placeholder="Old-Salary">
			</div>
			<label>New Workperiod:</label>
			<div>
			  <i class="fa-solid fa-clock"></i>
			<input type="text" placeholder="Old-Work-Period">
			</div>
			
			<button type="submit" action="/">Submit</button>
		  </form>
		</div>
		
	  </div>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-user-circle'></i>
			<span class="text">AdminName</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="../templates/admin.html">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="../templates/patients.html">
					<i class='bx bxs-user-pin' ></i>
					<span class="text">Patients</span>
				</a>
			</li>
			<li>
				<a href="#staff">
					<i class='bx bxs-user-pin' ></i>
					<span class="text">Doctors</span>
				</a>
			</li>
			
			
		
		</ul>
		<ul class="side-menu ">
			
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">MedCare</a>
			<form action="#">
				<div class="form-input">
					<input type="" placeholder="">
					<button type="submit" class="search-btn"></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			
			<a href="#" class="profile">
				<img src="../static/img/people.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="table-data">
				<div class="card1">
					<img src="https://images.unsplash.com/photo-1499557354967-2b2d8910bcca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7d5363c18112a02ce22d0c46f8570147&auto=format&fit=crop&w=635&q=80%20635w" alt="profile-pic" class="profile">
					<h1>bkj</h1>
			    </div>
				<div class="card2">
					<div class="card2">
						<h1 class="Info_Doc" style="text-align: left">
							<i class='bx bxs-medal' ></i> Best Doctor
						</h1>
						
					   
						<div class="Information">
							<div class="min-info" >
			  
								<div class="icon-info icon-1">
								  <i class="fa-solid fa-user-md"></i>
							  </div>
							  <div>
								<h2>Name</h2>
								<label for="ID">Name</label>
							  </div>
							</div>
							
							
						  <div class="min-info" >
			  
							<div class="icon-info icon-2">
							  <i class="fa-solid fa-id-card"></i>
						  </div>
						  <div>
							<h2>Id</h2>
							<label for="ID">ID</label>
						  </div>
						</div>
						  <div class="min-info" >
			  
							<div class="icon-info icon-3">
							  <i class="fa-solid fa-users"></i>
						  </div>
						  <div>
							<h2>Patients No</h2>
							<label for="E-mail">No</label>
						  </div>
						</div>
				
						  
			  
						</div>
					  </div>

				</div>
			</div>

			<div class="container">
			 <ul class="box-info">
				<li>
					<i class='bx bxs-user' ></i>
					<span class="text">
						<div class="counter" data-target="102000">0</div>
						<p>Doctors</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<div class="counter" data-target="2834">0</div>
						<p>Patients</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-first-aid' ></i>
					<span class="text">
						<div class="counter" data-target="2543">0</div>
						<p>Apointments</p>
					</span>
				</li>
			</ul>
			</div>
			


			<div class="table-data" id="staff">
				<div class="order">
					<div class="head">
						<i class='fa fa-medkit' ></i>
						
						<h3>Hospital Staff</h3>
					</div>
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Phone Number</th>
								<th>Email</th>
								<th>Job Title</th>
								<th>Patients No</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><p>John Doe</p></td>
								<td>01-10-2021</td>
								<td>doctor@gmail.com</td>
								<td>Specialist</td>
								<td>20</td>
								<td><a href="../templates/Doctor.html" class="btn-view">View </a></td>
								<td> <a href="#" onclick="editform()" class="btn-edit"> Edit </a></td>
								<td> <a class="btn-Delete"> Delete </a></td>
							</tr>
							<tr>
								<td><p>John Doe</p></td>
								<td>01-10-2021</td>
								<td>doctor@gmail.com</td>
								<td>Specialist</td>
								<td>20</td>
								<td><a class="btn-view">View </a></td>
								<td> <a class="btn-edit"> Edit </a></td>
								<td> <a class="btn-Delete"> Delete </a></td>
							</tr>
							<tr>
								<td><p>John Doe</p></td>
								<td>01-10-2021</td>
								<td>doctor@gmail.com</td>
								<td>Specialist</td>
								<td>20</td>
								<td><a class="btn-view">View </a></td>
								<td> <a class="btn-edit"> Edit </a></td>
								<td> <a class="btn-Delete"> Delete </a></td>
							</tr>
							<tr>
								<td><p>John Doe</p></td>
								<td>01-10-2021</td>
								<td>doctor@gmail.com</td>
								<td>Specialist</td>
								<td>20</td>
								<td><a class="btn-view">View </a></td>
								<td> <a class="btn-edit"> Edit </a></td>
								<td> <a class="btn-Delete"> Delete </a></td>
							</tr>
							<tr>
								<td><p>John Doe</p></td>
								<td>01-10-2021</td>
								<td>doctor@gmail.com</td>
								<td>Specialist</td>
								<td>20</td>
								<td><a class="btn-view">View </a></td>
								<td> <a class="btn-edit"> Edit </a></td>
								<td> <a class="btn-Delete"> Delete </a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	<script type="text/javascript">
		$(function(){
		  $('.bars li .bar').each(function(key, bar){
			var percentage = $(this).data('percentage');
			$(this).animate({
			  'height' : percentage + '%'
			},1000);
		  });
		});
		</script>

	<script src="../static/js/admin.js"></script>
</body>
</html>