{% extends 'Ptemplate.html' %}
{% block content %}
<title>Booking</title>
		<main>
		
			
		

			<div class="head-title">
				<div class="left">
								
				</div>
				
			</div>
			<div class="table-data">
				<div class="order">

					<div>
                           
            
              <div id="container">
                
              <div id="body_header">
                  
                  <h1 id="he">Book now</h1>
                  
            
                </div>
                <form action="{{url_for('book_appointment')}}" method="post" id="book"  class='input-group-register'>
                  <fieldset>
                    <legend><span class="number" >1</span >Select your Doctor</legend>
                    <br>
                  <div> 
  
                    <div class="select" id="hf">
                    <select id="doctors" name="doctors" >
                        <option selected disabled >Select your doctor</option>
                        {% for doctor in doctors %}
                        <option value="{{doctor.d_id}}">{{doctor.d_name}}</option>
                        {% endfor %}
                    </select>
                    </div>
							<span></span>
                                </div>   
                                  </fieldset>
                            
                                  <fieldset>
                                    <legend><span class="number">2</span>Appointment Date</legend>
                                        <br>
                                   <div>
                                 
                                    <input type="date" name="date" id="day" value="" ></input>
									<br><span></span>
                                </div>
								<br>
								
							
                                 
                                  </fieldset> 
								  <button type="submit" class="btn" id="btn1">Continue❯</button>
                                </form>
                              </div>
							  
                            
                          
                        </div>

				</div>
				
			</div>
			
		</main>
		
	
	<script src="../static/js/Book.js"></script>
	



{% endblock %}
		

			


