{% extends 'DoctorTemplate.html' %}
{% block content %}
<title>Appointments</title>
<div class="table-data">
  <div class="order">
 <div class="head">
   <h3>Appointments</h3>
 <!-- <button type="button" class="btn" id="search"><i class="bx bx-search"></i></button>
                                                  
   <input type="text"  id="id" placeholder="ID" class="input-field">
    <i class="bx bx-filter"></i> -->
  </div>
  <table id="tabels" class="tabel">
 
 <tbody >
   
  {% if appoints==[] %}
  <label for="di">No Appointments to Display</label>
  {% else %}
  <thead>
    <tr>
    <th>ID</th>
    <th>Patient Names</th>
    <th>Date</th>
     <th>Time</th>
    </tr>
    </thead>
  <tbody >
  {% for appoint in appoints %}
   <tr>
    <td>
      {{p_obj[loop.index].p_id}}
     </td>
  <td>
  <p>
    <label for="Patient">{{p_obj[loop.index].p_name}}</label>
   </p>
   </td>
   
   <td>{{appoint.date}}</td>
 <td >{{appoint.Time}}</td>
    </tr>
  {% endfor %}
  

 </tbody>
 {% endif %}
 </tbody>
 </table>

</div>
{% endblock %}

