
<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boxicons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- My CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/DoctorStyle.css" />
    <!-- <link rel="stylesheet" href="box.css"> -->

   
    <link rel = "icon" href = 
	"../static/images/logoicon.webp" 
			type = "image/x-icon">
  </head>
  <body>
  <!-- Loader -->
  <div class="loader">
    <div class="loader-inner">
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
    </div>
  </div>
  <!-- End loader -->
   <!-- Copy this to Html file under body tag -->
    <!-- Edit form -->
    <div class="main-edit-form" id="edit">
     
      <div class="edit-form" >
      
        <i onclick="closeform()" class="fa-solid fa-xmark"></i>
        <form id="form4" action="{{url_for('edit_doc')}}" method="post">
          <h1>Edit form</h1>
          <label>New Username:</label>
          <div>
          <i  class="fa-solid fa-user"></i>
          <input id="username" type="text"  value="{{user.d_username}}" name="username"><br>
          <span></span>
          </div>
          <label>New Phone Number:</label>
          <div>
            <i class="fa-solid fa-phone"></i>
          <input id="phone" type="text" value="{{user.d_phone}}" name="phone"><br>
          <span></span>  
          </div>
          <label>New E-mail:</label>
          <div>
            <i class="fa-solid fa-envelope"></i>
          <input id="Email" type="email" value="{{user.d_email}}" name="email"><br>
          <span></span>
          </div>
          <label>New Password:</label>
          <div>
            <i class="fa-solid fa-lock"></i>
          <input id="password" placeholder="Enter Your New Password" type="password"><br>
          <span></span>
          </div>
          
          <button type="submit" action="/">Submit</button>
        </form>
      </div>
      
    </div>

    <!-- End of Edit form -->
    <!-- SIDEBAR -->
    <section id="sidebar">
      <a href="#" class="brand">
        <i class="bx bxs-user-circle"></i>
        <span class="text">{{user.d_name}}</span>
      </a>
      <ul class="side-menu top">
        <li class="active">
          <a href="{{url_for("home_page")}}" target="_blank">
            <i class="bx bxs-home-heart"></i>
            <span class="text">Home</span>
          </a>
        </li>
        <li>
          <a href={{url_for('doc_profile')}}>
            <i class="bx bxs-dashboard"></i>
            <span class="text">Profile</span>
          </a>
        </li>
        <li>
          <a href={{url_for('doctor_appoints')}}>
            <i class="fa-solid fa-calendar-check" style="margin-left: 15px;
            margin-right: 10px;"></i>
             <span class="text">Appointments</span>
          </a>
        </li>

        <li>
          <a href="#" onclick="editform()">
            <i class='bx bxs-pencil' ></i>
            <span class="text">Edit profile</span>
          </a>
        </li>
        </li>
      </ul>
      <ul class="side-menu">

        <li>
          <a href="{{url_for("home_page")}}" class="logout">
            <i class="bx bxs-log-out-circle"></i>
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <nav>
        <i class="bx bx-menu"></i>
        <span id="brand"><h3>MedCare</h3></span>
        <form action="#">
          <div class="form-input">
            <input type="" placeholder="" />
            <button type="submit" class="search-btn">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>
        <input type="checkbox" id="switch-mode" hidden />
        <label for="switch-mode" class="switch-mode"></label>
       
        <a href="#" class="profile">
          <img src='{{user.d_photo}}' />
        </a>
      </nav>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        {% block content %}
        <!-- =========== Body =========  -->
       {% endblock %}
   
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <script src="../static/js/scriptJs.js"></script>
    <script src="../static/js/Edit.js"></script>

  </body>
</html>
