{% extends 'DoctorTemplate.html' %}
{% block content %}
<title>Patients</title>
<div class="table-data">
  <div class="card1">
    <div>
      <img
        src="../static/images/download.png"
        alt="profile-pic"
        class="profile"
      />
      <span>User name</span>
    </div>
  </div>

  <div class="card2">
    <h1 class="Info_Doc" style="text-align: left">
      Personal Information
    </h1>

    <div class="Information">
      <div class="min-info">
        <div class="icon-info icon-1">
          <i class="fa-solid fa-id-card"></i>
        </div>
        <div>
          <h2>ID</h2>
          <label for="ID">ID</label>
        </div>
      </div>
      <div class="min-info">
        <div class="icon-info icon-2">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <div>
          <h2>E-mail</h2>
          <label for="E-mail">E-mail</label>
        </div>
      </div>
      <!-- <br /> -->
      <div class="min-info">
        <div class="icon-info icon-3">
          <i class="fa-solid fa-phone"></i>
        </div>
        <div>
          <h2>Phone Number</h2>
          <label for="Phone-Number">Phone Number</label>
        </div>
      </div>
    </div>
  </div>
  <div class="card2">
    <h1 class="Info_Doc" style="text-align: left">Next Appointments</h1>

    <div class="Information">
      <div class="min-info">
        <div class="icon-info icon-2">
          <i class="fa-solid fa-clock"></i>
        </div>
        <div>
          <h2>Appointment 1</h2>
          <label for="Working period">here</label>
        </div>
      </div>
      <div class="min-info">
        <div class="icon-info icon-2">
          <i class="fa-solid fa-clock"></i>
        </div>
        <div>
          <h2>Appointment 2</h2>
          <label for="Working period">here</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="head-title">
  <div class="left">
    <br />
    <span><h2>Medical information</h2></span>
  </div>
</div>
<div class="table-data">
  <div class="order">
    <div class="head">
      <span><h3>Medical Record</h3></span>
    </div>

    <div>
      <br />
      <h2><span>Diagnosis</span></h2>
      <label for="di"> write diagnosis here</label>
    </div>
    <div>
      <br />
      <h2><span>Medical History</span></h2>
      <label for="di"> write here</label>
    </div>
    <div>
      <br />
      <h2><span>Restricted Drugs</span></h2>
      <label for="di"> write diagnosis here</label>
    </div>
    <div id="button_MD">
      <a class="btn" href="Write MD.html" id="button_MD"
        >Write Medical Record</a
      >
      <a class="btn" href="Patient_Scans.html" id="search"
        >View Scans</a
      >
    </div>
  </div>
  <div class="todo">
    <div class="head">
      <span><h3>Prescription</h3></span>
    </div>

    <br /><button type="button" class="collapsible">
      Prescription 1
    </button>
    <div class="content">
      <div>
        <br />
        <h3><span>Doctor name</span></h3>
        <label for="di"> write here</label>
      </div>
      <div>
        <br />
        <h3><span>Date</span></h3>
        <label for="di"> write here</label>
      </div>
      <div>
        <br />
        <h3><span>Medicine</span></h3>
        <label for="di"> write here</label>
      </div>
    </div>
    <button type="button" class="collapsible">Prescription 2</button>
    <div class="content">
      <div>
        <br />
        <h3><span>Doctor name</span></h3>
        <label for="di"> write here</label>
      </div>
      <div>
        <br />
        <h3><span>Date</span></h3>
        <label for="di"> write here</label>
      </div>
      <div>
        <br />
        <h3><span>Medicine</span></h3>
        <label for="di"> write here</label>
      </div>
    </div>
    <button type="button" class="collapsible">prescription 3</button>
    <div class="content">
      <div>
        <br />
        <h3><span>Doctor name</span></h3>
        <label for="di"> write here</label>
      </div>
      <div>
        <br />
        <h3><span>Date</span></h3>
        <label for="di"> write here</label>
      </div>
      <div>
        <br />
        <h3><span>Medicine</span></h3>
        <label for="di"> write here</label>
      </div>
    </div>
    <div>
      <a class="btn" href="Add_prescription.html" id="button_MD"
        >Add Prescription</a
      >
    </div>
  </div>
</div>
{% endblock %}

