{% extends 'AdminTemplate.html' %}
{%block name%}
{{ current_user.a_name }}
{%endblock%}
{% block content %}
<Title>Add doctor</Title>
<div class="table-data">
	<div class="order1">
	  <div class="head">
		<i class='bx bxs-user-plus'></i>
		<h3>Add Doctor</h3>
	  </div>
		<div class="add-form" >
			<form action="EditDoctorInfo" method="post">
			  {{ form.hidden_tag() }}
			  <h1>Edit form</h1>
			  <label>New E-mail:</label>
			  <div>
				  {{ form.email(class="form-control", placeholder="Old E-mail") }}                </div>
			  <label>New Password:</label>
			  <div>
				  {{ form.password(class="form-control", placeholder="Old Password") }}
			  </div>
			  <label>New Position:</label>
			  <div>
				  {{ form.position(class="form-control", placeholder="Old Position") }}
			  </div>
			  <label>New Salary:</label>
			  <div>
				  {{ form.salary(class="form-control", placeholder="Old Salary") }}
			  </div>
			  <label>New Work period From:</label>
			  <div>
				  {{ form.work_periodFrom(class="form-control") }}
			  </div>
			  <label>New Work period To:</label>
			  <div>
				  {{ form.work_periodTo(class="form-control") }}
			  </div>

			  {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
		  </form>
		</div>


</div>

</div>
{% endblock %}
