{% extends 'Ptemplate.html' %}
{% block content %}

<title>Edit</title>
	

		
			
		

	<div class="head-title">
		<div class="left">
						
		</div>
		
	</div>
	<div class="table-data">
		<div class="order">

			<div id="back">
				
				
					
					
					  <div id="container">
					   
						<div id="body_header">
						  
							<h1 id="he">Book now</h1>
						 
					
						</div>
						<form action="Booking.html" method="post" id="book" >
						  <fieldset>
							<legend><span class="number">3</span>Select Time</legend>
							<br>
						 <div>  
						   <div class="select" id="df">
							<select id="Time" name="Time" >
								<option selected disabled >Select Time</option>
								<option value="9-00">9:00 am</option>
								<option value="9-30">9:30 am</option>
								<option value="10-00">10:00 am </option>
								<option value="10-30">10:30 am </option>
								<option value="11-00">11:00 am</option>
								<option value="11-30">11:30 am</option>
								<option value="12-00">12:00 pm</option>
								<option value="12-30">12:30 pm</option>
								<option value="1-00">1:00 pm</option>
								<option value="1-30">1:30 pm</option>
								
							</select>
						   </div>
						   <span></span>
						</div>   
						  </fieldset>
						
					   
						  <button type="submit" class="btn button2">Book</button>
						</form>
					  </div>
					  <a href="Booking.html" class=" btn btn3" id="hh" > ❮ Back </a>
					
					</html>
				</div>

		</div>
		
	</div>
	


	

<script src="../static/js/Book.js"></script>
{% endblock %}
		

			
	