{% extends 'DoctorTemplate.html' %}
{% block content %}
<title>Scans</title>
<div class="head-title"></div>
        <div class="table-data">
          <div class="todo">
            <div class="head">
              <h3>Your Scans</h3>
            </div>

            <br /><button type="button" class="collapsible">Scan 1</button>
            <div class="content" id="scan">
              <img
                src="../static/images/4d44e39511097c8cf85d031bda1d770f.jpg"
                alt=""
              />
            </div>
            <button type="button" class="collapsible">Scan 2</button>
            <div class="content">
              <img
                src="../static/images/cbe0cef3e37f00adca5c0dfcbe70069d.jpg"
                alt=""
              />
            </div>
            <button type="button" class="collapsible">Scan 3</button>
            <div class="content">
              <img
                src="../static/images/cbe0cef3e37f00adca5c0dfcbe70069d.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <a href="Doctor_Patients.html" class="btn btn3" id="hh"> ❮ Back </a>
{% endblock %}
