<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="../static/css/style.css">
         
    <title>Register Page</title>
</head>
<body>
    <div class="container">
        <div class="forms">
            <div class="form register">
                <span class="title">Register</span>

                <form action="#">
                    <div class="main-inp">
                        <div class="dob-inp">
                   <div class="input-field">
            
            <input type="text" placeholder="Enter your Full Name" name="Name"required>
            <i class="uil uil-chat-bubble-user"></i>
          </div>
          <div class="input-field">
            
            <input type="text" placeholder="Username" name="Username" required>
             <i class="uil uil-postcard"></i>
          </div>
        </div>
        <div class="dob-inp">
          <div class="input-field">
            
            <input type="text" placeholder="E-mail" name="Email" required>
            <i class="uil uil-envelope icon"></i>
          </div>
          <div class="input-field">
            
            <input type="text" placeholder="Phone Number" name="Phone" required>
            <i class="uil uil-phone"></i>
          </div>
        </div>
        <div class="dob-inp">
          <div class="input-field">
           
            <input type="text" placeholder="Enter your password" name="Password" required>
             <i class="uil uil-lock icon"></i>
          </div>
          <div class="input-field">
           
            <input type="text" placeholder="Confirm your password" name="Password" required>
            <i class="uil uil-key-skeleton-alt"></i>
          </div>
        </div>
        <div class="dob-inp">
            <div class="input-field " name="Birthdate">
            
                <span>Birthdate</span>
            </div>
            <div class="input-field" name="Sex">
                <span>Sex</span>
                  
            </div>
          </div>
        <div class="dob-inp">
            <div class="input-field ">
            
              <input type="date"  required>
            </div>
            <div class="input-field">
             
                <div class="gender-details">

                    <div>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label>
                </div>
                <div>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="css">Female</label>
                </div>
                  </div>
            </div>
          </div>
          <div class="input-field button">
            <input type="submit" value="Register" name="Register">
        </div>
        
        </div>
        </form>
     </div>
    </div>
    </div>
    

    <script src="../static/js/script.js"></script>

</body>
</html>