{% extends 'Ptemplate.html' %}
{% block content %}

<title>Your Scans</title>
<div class="head-title">
			
</div>
<div class="table-data">
	
	<div class="todo">
		<div class="head">
		
			<h3>Your Scans</h3> 
			
		</div>
		
		<br><button type="button" class="collapsible">Scan 1</button>
		   <div class="content">
			<img src="../static/images/scanjpg.jpg" alt="">
			
		</div>
		<button type="button" class="collapsible">Scan 2</button>
		   <div class="content">
			<img src="../static/images/scanjpg.jpg" alt="">
		</div>
		<button type="button" class="collapsible">Scan 3</button>
		   <div class="content">
			
			<img src="../static/images/scanjpg.jpg" alt="">
		</div>
	  
		<div class="upload-btn-wrapper">
			<button class="btn">Upload new scan
				<input type="file" name="myfile" />
			</button>
		  </div>
		
	</div>
</div> 
 
			
	
	


{% endblock %}
		

			