@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");
input[type=number]::-webkit-inner-spin-button,  input[type=number]::-webkit-outer-spin-button {      -webkit-appearance: none;     -moz-appearance: none;     appearance: none;  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Roboto";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #f4f7f8;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
  --close: darkred;
}
body.dark {
  /* --light: #1E1E1E;
  --light-blue: #060714;

  --grey: #121212; */
  --light-blue: #060714;
	--light: #0C0C1E;
	--grey: #060714;
  --dark: #FBFBFB;
  --close: #fff;
  --black: #3C91E6;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}
/* Loader */
.loader {
  display: block;
  background: var(--light);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: 
  spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%, 15% {
  transform: rotate(0);
}
100% {
  transform: rotate(360deg);
}
}
/* End loader */
/* Edit Form */
.main-edit-form{
  display: block;
  z-index: 9999;
  position: absolute;
  top:0;
  left:0;
  background-color: rgba(230,230,230,0.5);
  width: 0;
  height: 0;
  overflow: hidden;
  transition: 1s all ease;
}
.edit-form{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 40%;
  min-width:500px;
  border-radius: 20px;
  box-shadow: 8px 6px 18px -8px rgba(60,145,230,0.5);
  -webkit-box-shadow: 8px 6px 18px -8px rgba(60,145,230,0.5);
  -moz-box-shadow: 8px 6px 18px -8px rgba(60,145,230,0.5);
  background-color: var(--light);
  height: 90vh;
  transition: 0.5s all ease;
  text-align: left;
  padding: 30px 50px;
  overflow-y: auto;
  
}
.edit-form h1{
  align-self: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  color:var(--dark);
}
.edit-form form{
  position: relative;
  text-align: left;
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}
.edit-form i{
  position: absolute;
  top:25px;
  right: 25px;
  color:var(--close);
  font-size: 25px;
  cursor: pointer;
  z-index: 999;
}
.edit-form form div {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
  align-items: flex-start;
}
.edit-form form button {
  margin-top: 10px;
  text-align: center;
  position: relative;
  align-items: center;
  margin-bottom: 10px;
  width: auto;
  padding: 10px 25px;
  align-self: center;
  border-radius: 20px;
  background-color: var(--blue);
  border: 1px solid var(--light-blue);
  transition: 0.5s;
  cursor: pointer;
  font-size: 1.1rem;
  color:black;
}
.edit-form form button:hover{
  background-color: var(--light-blue);
  border: 1px solid var(--blue);
}
.edit-form form div i{
  position: absolute;
  width: auto;
  font-size: 20px;
  top:5px;
  left:0;
  color: var(--blue);
  z-index: -9999;
}
.edit-form form label{
  margin-bottom: 10px;
  font-family: "Roboto";
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color:var(--dark);
}
.edit-form div input{
  width: 80%;
  padding: 5px 25px;
  outline: none;
  background-color: transparent;
  border-style: none none solid none;
  border-width: 2px ;
  border-color: var(--dark);;
  font-size: 1rem;
  color:var(--dark);

}

/* End of Edit form */

/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
  display: none;
}
#sidebar.hide {
  width: 60px;
}
#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}
#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}
#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}
#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}
#sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}
#sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}
#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
  color: var(--blue);
}
#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}
#sidebar .side-menu li a.logout {
  color: var(--red);
}
#sidebar .side-menu.top li a:hover {
  color: var(--blue);
}
#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}
.bx-menu:before {
  content: "\edc2";
  font-size: 2rem !important;
}
/* SIDEBAR */

/* CONTENT */
h2{
  color: var(--dark);
}
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}
#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}

/* NAVBAR */
#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
#content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
  color: var(--dark);
}
#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}
#content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}
#content nav .nav-link:hover {
  color: var(--blue);
}
#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
  background-color: var(--light);
}
#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
  background-color: var(--light);
}
#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--light);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--light);
}
#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}
#content nav .notification {
  font-size: 20px;
  position: relative;
}
#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}
#content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}
#content nav .switch-mode::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: all 0.3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */

/* MAIN */

#btn5{
	width: 7rem;
	margin-top:20rem;

}

#btn6{
	width:3rem;

    border-radius: 20px;
	background-color: var(--light);
	border-color: #eee;
	color: darkgreen;
	font-size:x-large ;

   
}
#btn6:hover{
	border-color: var(--light);
}
#content main {
  width: 100%;
  padding: 36px 24px;
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}
#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

.Information {
  position: relative;
  display: grid;
  background: var(--white);
  float: left;
  text-align: left;
  padding-top: 10px;
  margin-top: 30px;
}

.min-info{
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.min-info .icon-info{
  position: relative;
  margin-right: 10px; 
  width: 40px;
  height: 40px;
  background-color: var(--blue);
  border: 3px solid var(--blue);
  border-radius: 50%;
}
.min-info .icon-1{
  background-color: var(--light-blue);
  border: 3px solid var(--light-blue);
}
.min-info .icon-1 i{
  color: var(--blue);
}
.min-info .icon-2{
  background-color: var(--light-orange);
  border: 3px solid var(--light-orange);
}

.min-info .icon-2 i{
  color: var(--orange);
}
.min-info .icon-3{
  background-color: var(--light-yellow);
  border: 3px solid var(--light-yellow);
}

.min-info .icon-3 i{
  color: var(--yellow);
}
.min-info i{
   position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  font-size: 25px;

}
#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}
#content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
  color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
  color: var(--blue);
  pointer-events: unset;
}
#content main .head-title .btn-download {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--blue);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}


#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}
#content main .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
}
#content main .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
  background: var(--light-blue);
  color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
  background: var(--light-yellow);
  color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
  background: var(--light-orange);
  color: var(--orange);
}
#content main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}
#content main .box-info li .text p {
  color: var(--dark);
}
h3 span{
  color: var(--dark);
  }
  
#content main .table-data {
  display: flex;
  grid-gap: 24px;
  margin-top: 24px;
  
  width: 100%;
  color: var(--dark);
}
#content main .table-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}

#content main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}
#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}
#content main .table-data .head .bx {
  cursor: pointer;
}

#content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
  overflow-y: auto;

}

#content main .table-data .order table {
  width: 100%;
  border-collapse: collapse;
}
#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}
.view{
  
  text-align: center;
}
#content main .table-data .order table td {
  padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}
#content main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
  background: var(--grey);
}
#content main .table-data .order table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}
#content main .table-data .order table tr td .status {
  background: var(--blue);
  color: var(--light-blue);
    border: 2px solid var(--blue);

  font-size: 1rem;
  font-weight: 500;
  transition: .5s;
}
#content main .table-data .order table tr td .status:hover {
  background: var(--grey);
  color: var(--blue);
  border: 2px solid var(--blue);
  font-size: 1rem;
}



#content main .table-data .todo {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 500px;
  flex-basis: 300px;
}

#content main .table-data .card {
  flex-grow: 1;
  flex-basis: 200px;
}
#content main .table-data .todo .todo-list {
  width: 100%;
}
#content main .table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
  cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
  border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
  margin-bottom: 0;
}
#content main .table-data .card1 {
  position: relative;
  flex-basis: 25%;
  text-align: center;
  vertical-align: middle;
}
#content main .table-data .card1 div {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#content main .table-data .card1 img {
  border-radius: 100%;

  margin-bottom: 10px;
  width: 174px; 
  height: 163px;
}
#content main .table-data .card1 div span {
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 500;

}
#content main .table-data .card2 {
  position: relative;
  flex-basis: 35%;
  text-align: left;
  max-height: 500px;

  float: left;
}
#content main .table-data .card2 h1 {
  position: relative;
  color: var(--dark);
  font-weight: 300;
}
.card2 h1:after {
  position: absolute;
  bottom:-10px;
  left:0;
  content: '';
  height: 2px;
  width: calc(100%);
  background-color: var(--blue);

}
.card2 h2{
  font-size: 1.25rem;
}

#content main .table-data .card2 p {
  color: var(--dark);
  font-size: 12px;
  font-weight: 100;
  text-align: left;
}
/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  #content nav .nav-link {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }
  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }

  #content nav form.show ~ .notification,
  #content nav form.show ~ .profile {
    display: none;
  }

  #content main .box-info {
    grid-template-columns: 1fr;
  }

  #content main .table-data .head {
    min-width: 420px;
  }
  #content main .table-data .order table {
    min-width: 420px;
  }
  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
  #content main .table-data .card {
    min-width: 420px;
  }
  #content main .table-data .details {
    min-width: 420px;
  }
}
#textarea{
  resize: none;
  border-radius: 20px;
}
#textarea_1{
  resize: none;
  border-radius: 20px;
}
#search{
  background-color: var(--orange);
  color: var(--light);
  font-weight: 500;
  transition: .5s;

  /* border: 2px solid var(--orange); */

}
#search:hover{
  background-color: var(--light-orange);
  border: 2px solid var(--orange);
}



/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  font-weight: bold;
  border-radius: 20px;
  color: var(--blue);
  margin-bottom: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  border-radius: 20px;
  padding: 0 18px;
  background-color:var(--light);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.collapsible:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#book {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  
  box-shadow: var(--blue);
  
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}


input[type="date"],


textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: auto;
  outline: 0;
  padding: 8px;
  width: 100%;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;

}

input[type="radio"],
input[type="checkbox"]

{
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.btn {
	
	color: var(--light);
	background-color: var(--blue);
	transition: .5s;
	margin-top: 1rem;
	padding: 8px 20px;
  border-color:var(--blue) ;
	border-width: 0px;
	font-size: 15px;
	font-weight: bold;
	border-radius: 20px;
	cursor: pointer;
	opacity: 1;
	
	text-align: center;
	
  }
   .btn:hover{
	background-color: var(--grey);
  border: 2px solid var(--blue);
	color: var(--blue);
	
  }
#btn1{
	margin-left: 10rem;
}

#btn1:hover{
	
	color: var(--blue);
}
.button2{

	margin-left:8.5rem;
	width:10.5rem;

}
#hh{
	padding-left: 1rem;
	padding-right: 1rem;
}
#button2:hover{
	background-color: var(--grey);
	
	color: var(--blue);

}
.btn3{
	padding: 4px 1px 4px 40px;
    margin-bottom: 2rem;
	border: 1px solid;
	text-align: center;
	background-color: var(--blue);
	font-size: 18px;
	cursor: pointer;
}

 
#he{
	font-size: xx-large;
}
fieldset {
  margin-bottom: 15px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  /* color: var(--light); */
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: var(--blue);
  margin-right: 2rem;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}
.bx-menu:before {
    content: "\edc2";
    font-size: 2rem !important;
}



  #book {
    max-width: 480px;
  }


/* contact form */


#contact {
  	margin: 10px auto;
	padding: 10px 20px;
	background: var(--light);
	border-radius: 20px;
	
	box-shadow: var(--blue);
	
  }
  #contact {
    max-width: 480px;
  }
  #contact_id{
  max-width: 728px;
  margin: 10px auto;
	padding: 10px 20px;
	background: var(--grey);
	border-radius: 20px;
	
	box-shadow: var(--blue);
	
  }

  #Message{
	resize: none;
	border-radius: 20px;
	border-width: 2.5px;
	border-color: black;
 } 
#btn2{
	margin-left: 15rem;
	width: 12rem;
}
#button_MD{
	margin-left: 8rem;

}

.input-field {
  padding: 10px 0;
  margin:10px 0;
  border-style: none none solid none;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  color: var(--black);
  padding-bottom: 5px ;
  flex-basis: 45%;
  font-size: 15px;
}


.error span {
  color: var(--red);
  margin-top: 1px;}
.error{
visibility: visible;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
  }

    .upload-btn-wrapper input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      }


  
      


      #hh{
        padding-left: 1rem;
        padding-right: 1rem;
        }