<!-------------------------------------- Template start ---------------------------->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="../static/css/patientStyle.css">

	<title>Booking</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			
			<i class='bx bxs-user-circle'></i>
			<span class="text" >User_name </span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="#">
					<i class='bx bxs-home-heart' ></i>
					<span class="text">Home</span>
				</a>
			</li>
			<li class="active">
				<a href="profile.html">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Profile</span>
				</a>
			</li>
			<li>
				<a href="Booking.html">
					<i class='bx bxs-bookmark-plus' ></i>
					<span class="text">Book Appointment</span>
				</a>
			</li>
			<li>
				<a href="https://calendar.google.com/calendar" target="_blank">
					<i class='bx bxs-calendar' ></i>
					<span class="text">Reserved Appointments</span>
				</a>
			</li>
			<li>
				<a href="contact.html">
					<i class='bx bxs-message-rounded' ></i>
					<span class="text">Contact your Doctor</span>
				</a>
			</li>
			
			<li>
				<a href="scans.html">
					<i class='bx bxs-file-find' ></i>
					<span class="text">Your Scans</span>
				</a>
			</li>
			<li>
				<a href="p_edit.html">
					<i class='bx bxs-pencil' ></i>
					<span class="text">Edit Profile</span>
				</a>
			</li>
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<h3>website name</h3>
			<form action="#">
				<div class="form-input">
					
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			
			<a href="#" class="profile">
				<img src="../static/img/people.png">
			</a>
		</nav>
		<!-- NAVBAR -->
						<!-------------------------------------- Template end ---------------------------->
		<!-- MAIN -->
		<main>
		
			
		

			<div class="head-title">
				<div class="left">
								
				</div>
				
			</div>
			<div class="table-data">
				<div class="order">

					<div>
                        
                       
                            
                            
                              <div id="container">
                               
                                <div id="body_header">
                                  
                                  <h1 id="he">Book now</h1>
                                 
                            
                                </div>
                                <form action="" method="post" id="book"  class='input-group-register'>
                                  <fieldset>
                                    <legend><span class="number">1</span>Select your Doctor</legend>
                                    <br>
                                 <div> 
									
                                   <div class="select" id="hf">
                                    <select id="doctors" name="doctors" >
                                        <option selected disabled >Select your doctor</option>
                                        <option value="doctor1">doctor1</option>
                                        <option value="doctor2">doctor2</option>
                                        <option value="doctor3">doctor3</option>
                                    </select>
                                   </div>
							<span></span>
                                </div>   
                                  </fieldset>
                            
                                  <fieldset>
                                    <legend><span class="number">2</span>Appointment Date</legend>
                                        <br>
                                   <div>
                                 
                                    <input type="date" name="date" id="day" value="" ></input>
									<br><span></span>
                                </div>
								<br>
								
							
                                 
                                  </fieldset> 
								  <button type="submit" class="btn" id="btn1">Continue❯</button>
                                </form>
                              </div>
							  
                            
                          
                        </div>

				</div>
				
			</div>
			
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	
	<script src="../static/js/Book.js"></script>
	<script src="../static/js/script.js"></script>
</body>
</html>